/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Jul, 2019, 1:11:47 PM
    Author     : USER
*/

.btn.btn-info.btn-sm{display: inherit;}
/*.btn.btn-info{padding: 2px;}
i.fa.fa-eye {
    font-size: 10px;
}
.btn.btn-danger{    padding: 2px;}*/